.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ===================================================== */
@media(min-width: 576px){
  .img-logo {
    background-color:  #007bff  !important; }

    .row{width: 100% !important;}
    .create-staff{
      padding-left: 5%;
    }

    .search-staff{
   
      padding: 0%;
     
    }
}
@media(max-width: 576px){
  .img-logo {
    background-color: white !important; }
.navbar-collapse{
  background-color: white !important;
}
.navbar-collapse ul li a {
  color: black !important;
}

    .row{width: 100% !important;}

    .create-staff  h2   i{
     margin-left: 40% !important;
    }
    
    .create-staff   {
    margin-left: 9%;
      width: 90%;
      padding: 0px !important;
    }
    .search-staff{
      margin-left: 9%;
      padding: 0%;
      width: 90%;
    }
    .search-staff button {
      margin-left: 18% !important;
    }



}